<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br />
      Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a><br />
      互联网ICP备案：<a style="color: #565a5f;" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17139441号-1</a>
    </div>
  </div>
</footer>
